<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to project page</h1>
      
    </div><!--
    <div class="card" style="background-color:grey; border-color:white;">
  <img class="card-img-top" src="holder.js/100x180/" alt="">
  <div class="card-body">
    <h4 class="card-title">live happily</h4>
    <p class="card-text">Life is good</p>
  </div>
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">inner beauty</h4>
    
</div>-->

<img src="\Assets\images\download.jpg" style=" float:left; min-width: 350px; max-width: 200px; padding-left: 10%; margin-left: 2%; padding-right: 3%">
        <p style="color:firebrick; font-size: 40px;">
        <p >1.Cyber Security Project<br>
         2.Embedded System Design Project<br><br>
          
         </p>
  <p style="padding-bottom: 4%;  color:firebrick; font-size: 20px;"></p>
  </main>
  <body>
    <img src="\Assets\images\AdobeStock_79790508-825x510.jpeg" style=" float:left; min-width: 350px; max-width: 200px; padding-left: 10%; margin-left: 2%; padding-right: 3%">
  </body>
<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %>
